{% if formId is defined %}
    {% set id = formId %}
{% else %}
    {% set id = null %}
{% endif %}

{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': id }}) }}
    {{ form_widget(form) }}
    {% if src is defined %}
        {{ include('/admin/partials/form/_add_skill.html.twig') }}
    {% endif %}
    <button type="submit" class="generic-button primary submit-btn" id="add-skill-btn">{{ btnTextContent }}</button>
{{ form_end(form) }}