{% extends 'admin/layouts/base.html.twig' %}

{% block body %}
    <div class="admin-sub-title">
        <h2 class="white padding-30">{{ currentPage }}</h2>
    </div>

    <div class="admin-sub-content">
        <div class="btn-container">
            <a href="{{ path('app_admin_users_create') }}" class="generic-blue-button">Ajouter</a>
        </div>
        <table class="admin-table">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Role</th>
                <th>Créé le</th>
                <th>Actions</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td><span>{{ user.roles[0]|lower|replace({'_': '', 'role': ''}) }}</span></td>
                    <td><time datetime="{{ user.createdAt|date('Y-m-d H:i') }}">{{ user.createdAt|date('d-m-Y') }}</time></td>
                    <td class="p-relative admin-actions-col">
                        <i class="fa-solid fa-ellipsis admin-actions-btn admin-actions-btn-id-{{ user.id }}"></i>
                        <div class="admin-popup-actions p-absolute popup-id-{{ user.id }}">
                            <a class="greyNinety" href="{{ path('app_admin_users_update', { id: user.id }) }}">Éditer</a>
                            <hr>
                            <a class="greyNinety" href="{{ path('app_admin_users_delete', { id: user.id }) }}">Supprimer</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p class="white">{{ users|length }} résultats</p>
    </div>

{% endblock %}
