{% extends 'admin/layouts/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {% set notDefined = 0 %}
    <div class="admin-sub-title">
        <h4 class="white text-center admin-parts-title">Partie {{ currentPage }}</h4>
    </div>
    <div class="admin-sub-content">
        <div class="btn-container">
            <a href="{{ path('app_admin_skills_create') }}" class="generic-blue-button">Ajouter</a>
            <a href="#" class="generic-blue-button btn-margin-left-10" id="define-skills-order">Définir l'odre</a>
        </div>

        <div class="skills-order-and-blur-container">
            <div class="updating-message" id="updating-message">
                <p><i class="fas fa-spinner fa-pulse"></i> Mise à jour des informations ...</p>
            </div>

            <div class="skills-order-container" id="skills-order-container">
                <h5 class="white">Les compétences ci-dessous n'ont pas d'ordre défini</h5>
                <div class="skills-order undefined-order">
                    {% for skill in skills %}
                        {% if skill.displayOrder == notDefined %}
                            <div class="skill" draggable="true" data-skill-path="{{ path('app_admin_skills_update_display_order', {id: skill.id, order: skill.displayOrder}) }}">
                                <img class="skill-img" src="/img/upload/skills/{{ skill.image }}" alt="">
                                <p>Ordre : <span class="skill-order-number">non défini</span></p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <h5 class="white">Liste des compétences avec ordre défini</h5>
                <div class="skills-order defined-order" id="defined-order">
                    {% for skill in skills|sort((a, b) => a.displayOrder <=> b.displayOrder) %}
                        {% if skill.displayOrder %}
                            <div class="skill" draggable="true" data-skill-path="{{ path('app_admin_skills_update_display_order', {id: skill.id, order: skill.displayOrder}) }}">
                                <img class="skill-img" src="/img/upload/skills/{{ skill.image }}" alt="">
                                <p>Ordre : <span class="skill-order-number">{{ skill.displayOrder }}</span></p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>


        <table class="admin-table skills">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Niveau</th>
                <th>Ordre d'affichage</th>
                <th>Actions</th>
            </tr>
            {% for skill in skills %}
                <tr>
                    <td>{{ skill.id }}</td>
                    <td class="uppercase"><strong>{{ skill.name }}</strong></td>
                    <td><img class="skill-img" src="/img/upload/skills/{{ skill.image }}" alt=""></td>
                    <td>{{ skill.level }}</td>
                    <td>{{ skill.displayOrder }}</td>
                    <td class="p-relative admin-actions-col">
                        <i class="fa-solid fa-ellipsis admin-actions-btn admin-actions-btn-id-{{ skill.id }}"></i>
                        <div class="admin-popup-actions p-absolute popup-id-{{ skill.id }}">
                            <a class="greyNinety" href="{{ path('app_admin_skills_update', { id: skill.id }) }}">Éditer</a>
                            <hr>
                            <a class="greyNinety" href="{{ path('app_admin_skills_delete', { id: skill.id }) }}">Supprimer</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p class="white">{{ skills|length }} résultats</p>
    </div>
{% endblock %}
