{% extends 'frontend/layouts/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    {# MENU #}
    {{ include('/frontend/section/menu.html.twig') }}
    <main id="main">
        {# MAIN SECTION #}
        {{ include('/frontend/section/main.html.twig') }}

        {# ABOUT SECTION #}
        {{ include('/frontend/section/about.html.twig') }}

        {# SKILLS SECTION #}
        {{ include('/frontend/section/skills.html.twig') }}

        {# PORTFOLIO SECTION #}
        {{ include('/frontend/section/portfolio.html.twig') }}

        {# CONTACT SECTION #}
        {{ include('/frontend/section/contact.html.twig') }}
    </main>

    {# FOOTER #}
    {{ include('/frontend/section/footer.html.twig') }}

    {# BACK TO TOP BUTTON #}
    {{ include('/frontend/partials/_back_to_top.html.twig') }}
{% endblock %}
