<section class="contact-section" id="contact-section-id">
    <h2>Contact</h2>
    <h3>Pour échanger avec moi</h3>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="form-name">
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
        </div>
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}
        <button class="generic-blue-button">Envoyer</button>
    {{ form_end(form) }}
</section>